@model Uranus.Models.About
@using Uranus.Domain.ViewModels
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/company-logo.gif" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Welcome to '@GlobalSetup.Company.CompanyName'</h2>
            <p align="justify">
                @GlobalSetup.Company.Description
                </p>
            </div>
        </div>
        <!-- Team Member Profiles -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            @foreach (var item in Model.TeamMembers)
            {
                <div class="col-sm-4">
                    <img src="@Url.Content(String.Format("~/Images/{0}", item.ImageUrl))" class="img-responsive" width="90%" height="90%">
                    @Html.DisplayFor(modelItem => item.Name)
                    <small>@Html.DisplayFor(modelItem => item.Designation)</small>
                    <p>@Html.DisplayFor(modelItem => item.About)</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link">
                            <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                    </ul>

                </div>
            }


        </div>
        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Customers</h2>
            </div>
            @foreach (var item in Model.Customers)
            {
                <div class="col-md-2 col-sm-4 col-xs-6">

                    <img title="@item.Name" src="@Url.Content(String.Format("~/Images/{0}", item.ImageUrl))" class="img-responsive" width="90%" height="90%">
                    <figcaption>@item.Name  </figcaption>




                </div>
            }
        </div>
    </div>